<!DOCTYPE html>
{% load static %}
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>



  <div class="grid-container">
    <div class="grid-item">
      <div class="card">
        <img src="{% static 'images/admin.png' %}" alt="Quản trị viên" style="width:100%">
        <p class="title">QUẢN TRỊ VIÊN</p>
        <p><button><a href="/selectlogin">Xem</a></button></p>
      </div>

    </div>

    <div class="grid-item">
      <div class="card">
        <img src="{% static 'images/doctor.png' %}" alt="Bác sĩ" style="width:100%">
        <p class="title">BÁC SĨ</p>
        <p><button><a href="/doctorclick">Xem</a></button></p>
      </div>
    </div>

    <div class="grid-item">
      <div class="card">
        <img src="{% static 'images/patient.jpg' %}" alt="Bệnh nhân" style="width:100%">
        <p class="title">BỆNH NHÂN</p>
        <p><button><a href="/patientclick">Xem</a></button></p>
      </div>
    </div>

  </div>
  <!--
  developed By : sumit kumar
  facebook : fb.com/sumit.luv
  youtube : youtube.com/AT05s
  -->

</body>

</html>
