{% extends 'hospital/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

  <br><br>
<!------ add appointment page by admin(sumit)  ---------->
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Đặt lịch hẹn</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {% render_field appointmentForm.description class="form-control" placeholder="Mô tả" %}
            </div>
            <div class="form-group">
              {% render_field appointmentForm.doctorId class="form-control" placeholder="Bác sĩ" %}
            </div>
            <div class="form-group">
              {% render_field appointmentForm.patientId class="form-control" placeholder="Bệnh nhân" %}
            </div>

          </div>

        </div>
        <button type="submit" class="btnSubmit">Đặt lịch</button>
      </div>
    </div>
  </div>
</form>

<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/AT05s
-->

{% endblock content %}