<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Quản lý Bệnh viện</title>
  <style media="screen">
    .jumbotron {
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>

</head>

<body>

  {% include "hospital/navbar.html" %}
  <br><br>
  <div class="jumbotron">
    <h1 class="display-4">Tin nhắn của bạn đã được gửi thành công !</h1>
    <p class="lead">Chúng tôi sẽ phản hồi ý kiến của bạn sớm nhất có thể</p>
    <hr class="my-4">
    <p>Khám phá các tính năng khác của trang web !</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">TRANG CHỦ</a>
    </p>
  </div>

  {% include "hospital/footer.html" %}
</body>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/AT05s
-->

</html>