{% extends 'hospital/doctor_base.html' %}
{% block content %}
{%load static%}

  <!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->


<div class="container">

  <form action="/search" method="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" name="query" id="query"
      aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
  </form>


  {% if patients %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Danh sách Bệnh nhân</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Tên</th>
          <th>Ảnh đại diện</th>
          <th>Triệu chứng</th>
          <th>Điện thoại</th>
          <th>Địa chỉ</th>

        </tr>
      </thead>
      {% for p in patients %}
      <tr>
        <td> {{p.get_name}}</td>
        <td>
          {% if p.profile_pic %}
          <img src="{{ p.profile_pic.url }}" alt="Ảnh đại diện" height="40px" width="40px" style="object-fit: cover;" />
          {% else %}
          <img src="https://ui-avatars.com/api/?name={{ p.get_name|urlencode }}&background=94a3b8&color=fff" alt="Ảnh đại diện" height="40px" width="40px" style="object-fit: cover;" />
          {% endif %}
        </td>
        <td>{{p.symptoms}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {%else%}
  <br><br><br>
  <h4 style="text-align: center;color: red;">Không tìm thấy Bệnh nhân !!!</h4>
  {% endif %}


</div>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/AT05s
-->

{% endblock content %}