{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}

    <title>Mẫu hóa đơn đơn giản</title>

  <br><br><br>
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <h1>Quản lý Bệnh viện</h1>
            </td>

            <td>

              Ngày nhập viện: {{admitDate}}<br>
              Ngày xuất viện: {{todayDate}}<br>
              Số ngày nằm viện: {{day}}
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              Tên Bệnh nhân : {{name}}<br>
              Số điện thoại : {{mobile}}<br>
              Địa chỉ : {{address}}<br>
            </td>

            <td>
              Tên Bác sĩ :<br>
              {{assignedDoctorName}}<br>

            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>
        Bệnh và Triệu chứng
      </td>
      <td>

      </td>

    </tr>

    <tr class="details">
      <td>
        {{symptoms}}
      </td>
    </tr>
    <tr class="heading">
      <td>
        Khoản mục
      </td>

      <td>
        Giá
      </td>
    </tr>

    <tr class="item">
      <td>
        Tiền phòng {{day}} ngày
      </td>

      <td>
        {{roomCharge}}
      </td>
    </tr>

    <tr class="item">
      <td>
        Phí Bác sĩ
      </td>

      <td>
        {{doctorFee}}
      </td>
    </tr>

    <tr class="item">
      <td>
        Tiền thuốc
      </td>

      <td>
        {{medicineCost}}
      </td>
    </tr>

    <tr class="item last">
      <td>
        Chi phí khác
      </td>

      <td>
        {{OtherCharge}}
      </td>
    </tr>

    <tr class="total">
      <td></td>

      <td>
        Tổng cộng : {{total}}
      </td>
    </tr>

  </table>
</div>
<br><br>
<div class="download">
  <a style="background:red; width:500px;" href="{% url 'download-pdf' patientId  %}">Tải xuống</a>
</div>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/AT05s
-->

{% endblock content %}