{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}

    <title>Mẫu hóa đơn đơn giản</title>

  <br><br><br>
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <h1>Quản lý Bệnh viện</h1>
            </td>

            <td>

              Ngày nhập viện: {{admitDate}}<br>
              Ngày xuất viện: {{todayDate}}<br>
              Số ngày nằm viện: {{day}}
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              Tên Bệnh nhân : {{name}}<br>
              Số điện thoại : {{mobile}}<br>
              Địa chỉ : {{address}}<br>
            </td>

            <td>
              Tên Bác sĩ :<br>
              {{assignedDoctorName}}<br>

            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>
        Bệnh và Triệu chứng
      </td>
      <td>

      </td>

    </tr>

    <tr class="details">
      <td>
        {{symptoms}}
      </td>
    </tr>
    <tr class="heading">
      <td>
        Khoản mục
      </td>

      <td>
        Giá
      </td>
    </tr>
    <form method="post">
      {% csrf_token %}

      <tr class="item">
        <td>
          Tiền phòng (Mỗi ngày)
        </td>

        <td>
          <input type="number" name="roomCharge" placeholder="Nhập số tiền" value="">
        </td>
      </tr>

      <tr class="item">
        <td>
          Phí Bác sĩ
        </td>

        <td>
          <input type="number" name="doctorFee" placeholder="Nhập số tiền" value="">
        </td>
      </tr>

      <tr class="item">
        <td>
          Tiền thuốc
        </td>

        <td>
          <input type="number" name="medicineCost" placeholder="Nhập số tiền" value="">
        </td>
      </tr>

      <tr class="item last">
        <td>
          Chi phí khác
        </td>

        <td>
          <input type="number" name="OtherCharge" placeholder="Nhập số tiền" value="">
        </td>
      </tr>

      <tr class="total">
        <td></td>

        <td>
          <input type="submit" name="submit" value="Tạo hóa đơn">
        </td>
      </tr>

    </form>
  </table>
</div>

<!--
   developed By : sumit kumar
   facebook : fb.com/sumit.luv
   youtube : youtube.com/AT05s
   -->

{% endblock content %}