{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Xin chào, Bệnh nhân</h1>
  <p class="lead">Chào mừng đến với Hệ thống Quản lý Bệnh viện.</p>
  <hr class="my-4">
  <p>Bạn có thể truy cập các tính năng khác sau khi Đăng nhập/Đăng ký.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Đăng ký tài khoản</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Đăng nhập</a>
  </p>
</div>

{% endblock content %}
