{% extends 'hospital/patient_base.html' %}
{% block content %}
{%load static%}

  <!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->


<div class="container">

  <form action="/searchdoctor" method="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" name="query" id="query"
      aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
  </form>


  {% if doctors %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Danh sách Bác sĩ</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Tên</th>
          <th>Ảnh đại diện</th>
          <th>Điện thoại</th>
          <th>Địa chỉ</th>
          <th>Khoa</th>

        </tr>
      </thead>
      {% for d in doctors %}
      <tr>

        <td> {{d.get_name}}</td>
        <td>
          {% if d.profile_pic %}
          <img src="{{ d.profile_pic.url }}" alt="Ảnh đại diện" height="40px" width="40px" style="object-fit: cover; border-radius: 4px;" />
          {% else %}
          <img src="https://ui-avatars.com/api/?name={{ d.user.first_name|default:'BS' }}&background=2563eb&color=fff&bold=true" alt="Ảnh đại diện" height="40px" width="40px" style="object-fit: cover; border-radius: 4px;" />
          {% endif %}
        </td>
        <td>{{d.mobile}}</td>
        <td>{{d.address}}</td>
        <td>{{d.department}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {%else%}
  <br><br><br>
  <h4 style="text-align: center;color: red;">Không tìm thấy Bác sĩ !!!</h4>
  {% endif %}


</div>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/AT05s
-->

{% endblock content %}